/* img {
  width: 800px;
  height: auto;
} */

.img {
  width: 800px;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  object-fit: scale-down;
}

.position-sticky {
  position: sticky !important;
}

.school {
  font-size: 30px;
}
