/ == render :flash_bar
== render :nav
== assets([:css, :animate])
== assets([:css, :aos])
== assets([:css, :boot])
== assets([:css, :carousel])
== assets([:css, :carousel1])
== assets([:css, :date])
== assets([:css, :iconmoon])
== assets([:css, :jquery])
== assets([:css, :default])

/ - if current_account.logged_out?
/   .owl-carousel-wrapper
/     .box-92819
/       h1.text-white.mb-3 Help others overcome a difficult situation
/       p
/         a.btn.btn-primary.py-3.px-4.rounded-0 href="/auth/login"  Sign in to start
/     .owl-carousel.owl-1
/       .ftco-cover-1.overlay style=("background-image: url('images/hero_4.jpg');") 
/       .ftco-cover-1.overlay style=("background-image: url('images/hero5.jpg');") 
/       .ftco-cover-1.overlay style=("background-image: url('images/hero6.jpg');") 
/ .container
/   .feature-29192-wrap.d-md-flex style=("margin-top: -20px; position: relative;") 
/     a.feature-29192.overlay-danger href="#" style=("background-image: url('images/hero4_gray.jpg');") 
/       .text
/         span.meta School
/         h3.text-cursive.text-white.h1 Help students
/     a.feature-29192.overlay-success href="#" style=("background-image: url('images/hero5_2_gray.jpg');") 
/       .text
/         span.meta Health
/         h3.text-cursive.text-white.h1 Help sick persons
/     a.feature-29192.overlay-warning href="#" style=("background-image: url('images/hero6_gray.jpg');") 
/       .text
/         span.meta Livelihood
/         h3.text-cursive.text-white.h1 Improve life
/ .site-section
/   .container
/     .row.mb-5.align-items-st
/       .col-md-9
/         .heading-20219
/           h2.title.text-cursive Latest Requests
/     .row
/       .col-md-4
/         .cause.shadow-sm
/           a.cause-link.d-block href="#" 
/             img.img-fluid alt="Image" src="images/hero_4.jpg" /
/             .custom-progress-wrap
/               span.caption 80% complete
/               .custom-progress-inner
/                 .custom-progress.bg-danger style=("width: 80%;") 
/           .px-3.pt-3.border-top-0.border.border.shadow-sm
/             span.badge-danger.py-1.small.px-2.rounded.mb-3.d-inline-block School
/             h3.mb-4
/               a href="#"  Alias Odit Ipsam Quas Unde Obcaecati
/             .border-top.border-light.border-bottom.py-2.d-flex
/               div Donated
/               .ml-auto
/                 strong.text-primary $940
/       .col-md-4
/         .cause.shadow-sm
/           a.cause-link.d-block href="#" 
/             img.img-fluid alt="Image" src="images/hero5_2.jpg" /
/             .custom-progress-wrap
/               span.caption 80% complete
/               .custom-progress-inner
/                 .custom-progress.bg-primary style=("width: 80%;") 
/           .px-3.pt-3.border-top-0.border.border.shadow-sm
/             span.badge-primary.py-1.small.px-2.rounded.mb-3.d-inline-block Health
/             h3.mb-4
/               a href="#"  Alias Odit Ipsam Quas Unde Obcaecati
/             .border-top.border-light.border-bottom.py-2.d-flex
/               div Donated
/               .ml-auto
/                 strong.text-primary $1,290
/       .col-md-4
/         .cause.shadow-sm
/           a.cause-link.d-block href="#" 
/             img.img-fluid alt="Image" src="images/hero7.jpg" /
/             .custom-progress-wrap
/               span.caption 80% complete
/               .custom-progress-inner
/                 .custom-progress.bg-warning style=("width: 80%;") 
/           .px-3.pt-3.border-top-0.border.border
/             span.badge-warning.py-1.small.px-2.rounded.mb-3.d-inline-block Livelihood
/             h3.mb-4
/               a href="#"  Alias Odit Ipsam Quas Unde Obcaecati
/             .border-top.border-light.border-bottom.py-2.d-flex
/               div Donated
/               .ml-auto
/                 strong.text-primary $2,919

