== render :nice
== render :nav
== assets([:css, :animate])
== assets([:css, :aos])
== assets([:css, :boot])
== assets([:css, :carousel])
== assets([:css, :carousel1])
== assets([:css, :date])
== assets([:css, :iconmoon])
== assets([:css, :jquery])
== assets([:css, :default])

- require 'pry'
- binding.pry
.container
  h1 Page under construction